




.container{
  text-align: center;
  background-color: rgba(80, 51, 12, 0.534);

  
}

.detail{
background-color: white;
  padding: 1em;

}
.Image{
  margin-top: 100px;
  margin-left: 300px;
}

.detalles{
position: absolute;
margin-left: 55em;
top: 150px;

}

.titulo{
  top: 50px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  
}
.producto{
  font-size: 20px;
  color: rgb(230, 156, 67);
  font-weight: 500;

}

.title{
  font-size: 20px;

}

.boton{
  color: black;
} 

.main{
  margin-top: 40px ;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100vh ;
  /* height: 100vh; */
  /* 1px */
   /* background-color: white; */
  margin-bottom: 10px;
  right: 550px;
  padding: 15px;
}  

.root{
  margin-top: 10px;
  position: relative;
  /* height: 80%;
  width: 80%; */
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 4px 5px black;
  
  

}


.inputs{
  /* margin: 20px; */
  width: 500px;
  /* height: 200px; */
  height: 10em;
}



.titles{
  position: relative;
  align-items: center;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  /* left: 150px; */
}

.calif{
  position: relative;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 20px;
  /* left: 150px; */

}

.aca{
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;

}