:root{
    
    --hoverColorText:rgb(175, 172, 172);
    --hoverVerde:#849836;
    --colorCafe: #99642C;

}
.nav{
   justify-content: center;
}

.tab-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form-check-input[type=radio] {
    background: var(--hoverVerde);
    border: 3px solid;
    border-color: var(--colorCafe);
}

#titleFilter{
    color: var(--colorCafe);
    background-color: transparent;
    margin-bottom: 10px;
}
#title{
    color: var(--hoverVerde);
}

@media only screen and (max-width: 600px) {
    #op{
       font-size: 13px;
    }
  }