:root{
    
    --hoverColorText:rgb(175, 172, 172);
    --hoverVerde:#849836;
    --colorCafe: #99642C;

}
.nav{
   justify-content: center;
}

.tab-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form-check-input[type=radio] {
    background: var(--hoverVerde);
    border: 3px solid;
    border-color: var(--colorCafe);
}

#titleFilter{
    color: var(--colorCafe);
    background-color: transparent;
    margin-bottom: 10px;
}
#titleFilter:hover{
    color: var(--hoverVerde);
}
#title{
    color: var(--hoverVerde);
    background-color: transparent;
    margin-bottom: 10px;
}

#range{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 20vw;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
}
#rangeMinMax{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
#rangeMinMax input{
    margin-right: 10px;
}
#customRange1{
    background: #99642C;
    border-radius: 5px;
}
.enviarformulario {
    background-color: #99642C !important;
    border:none !important;
}
.enviarformulario:hover{
    background-color: var(--hoverVerde) !important;
}
#min-max{
    text-align: center;
    width: 70%;
    outline: none;
    border: none;
    background-color: transparent;
}
@media only screen and (min-width:100px) and (max-width: 700px) {
    #op{
       font-size: 13px;
    }
    #range{
        align-items: center;
        width: 35vw;
        height: 40vh;
        justify-content: space-between;
        flex-direction: row;
        justify-content: center;
    }
    #rangeMinMax{
        flex-direction: column;
        
    }
    .mb-3{
        display: flex !important;
        flex-direction: column !important;
    }
    
  }