/* * {
    margin: 0%;
    padding: 0%;
    /* box-sizing: content-box; */



.mainFooter {
    background-color: #99642C;
    display: flex;
    position: inherit;
    
	/* align-items: center; */
	/* flex-wrap: wrap; */
	padding-top: 5px;
	/* padding-bottom: 5px; */
    /* margin-top: 22em; */
}

.about p{
   font-family: cursive;
   display: flexbox;
   /* margin: auto;  */
    /* width: 100%; */
   /* right: 50%;   */
    /* justify-content: center; */
   /* align-items: center; */
   color: #fff;
   font-size: 25px;
   font-weight: 900;
   color: #ffffff;
   margin-top: 10px; 
   margin-left: 1em;
   
} 
.contactMe p{
    font-family: Georgia, serif;
    font-weight:600;
    margin: auto; 
    width: 80%;
    right: 150%; 
     flex-wrap: wrap;
   
     font-size: 21px;
    color: #ffffff;
    margin-top: 15px;
    margin-left: 50em; 
    

 }


 .socialMedia{
     width: 98%; 
	 display: flex;
     margin-top: 5px;
	justify-content: flex-end; 
    margin-right: 1em;
    

 }
.socialMediaIcon{
	display: inline-block;
	margin-left: 15px;
	width: 45px;
	height: 45px;
	border: 1px solid #fff;
	border-radius: 50%;
	text-align: center;
	color: #fff;
    margin-right: 10px;
}
.socialMediaIcon:hover{
	background: rgb(18, 121, 18);
	color: #ffffff;
}
.socialMediaIcon i{
	font-size: 25px;
	line-height: 45px;
} 