:root{
    --colorCafe: #99642C;
    --hoverColorText:rgb(175, 172, 172);
    --colorverde:#849836
}
.Container-Envio{
    width: 90vw;
    margin: auto;
}

.ultimo-paso{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--colorCafe);
}
#map{
    width: 100%;
    border-radius: 15px;
}

.retiro-local{
    border-radius: 5px;
    padding: 10px;
    color: var(--colorverde);
}
.retiro-domicilio{
    border-radius: 5px;
    padding: 10px;
}
.card-domicilio{
    border: 5px solid var(--colorCafe) ;
    border-radius: 5px;
    padding: 5px;
    height: 100%;
}

.card-domicilio:hover{
    border: 5px solid var(--colorverde);  
}
.retiro-Body{
    width: 100%;
    height: 100%;
    margin: 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--colorverde);
}

.card-retiro{
    height: 100%;
    border: 5px solid var(--colorCafe) ;
}
.card-retiro:hover{
    border: 5px solid var(--colorverde);  
}
.btn-Cargar{
    width: 100%;
    height: 3rem;
    margin: 10px;
    justify-content: center;
    display: flex;
}
.btns-envio{
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.btnEmail{
    display: flex;
    flex-direction: row;
    width: 29rem;
    justify-content: center;
}
.btnComprar{
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.calendar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sucuu{
    
        display: flex;
        justify-content: center;
        align-items: center;

}
.sucu2{
    
    display: flex;
    justify-content: center;
    align-items: center;

}

@media only screen and (max-width: 770px) {
    .btnEmail{
        font-size: small;
        padding: 5px;
        width: auto;
    }
    .btnEmail input{
        margin-top: 0;
        justify-content: center;
    }
}