.divuser{
    margin: 20%;
}

.imagenCargando{
    width: 30%;
    z-index: 100000;
    position: absolute;
    text-align: center;
    top:20% ;
    left: 35%;
}

Form {
    text-decoration: none;
}

.registrarse:hover{
    cursor: pointer;
}

.btn {
    margin-right: 10px;
}