:root{
    --colorCafe: #99642C;
    --hoverColorText:rgb(175, 172, 172);
    --colorverde:#849836
}
.navbar{
    background-color: var(--colorCafe);
    padding: 10px;
}
.content{
    width: 100vw;
    top: 0;
    z-index: 3;
    padding-bottom: 100px;
}
.navlink1{
    color:white;
    text-decoration: none;
    width: 33px;
    height: 32px;
    display: flex;
    justify-content: center;
}
.navlink1:hover{
    color: var(--hoverColorText)
}
#Links{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#navbarScrollingDropdown {
    text-decoration: none;  
    color: white;
}
#navbarScrollingDropdown:hover {  
    color: var(--hoverColorText)
}

.logo{
    text-decoration: none;
    font-size: medium;
    color: white;
}
.logo:hover{
    color: var(--hoverColorText);
}
#navbarScroll{
    justify-content: center;
}
#inputSearch{
    background-color: transparent;
    border-color: white;
}
#inputSearch::placeholder{
    color: white;
    outline: none;
    border-color: white;
}
#inputSearch:hover{
    border: none;
    color: white;
    border-color: white;
}
#navScroll::-webkit-scrollbar {
    -webkit-appearance: none;
}
#d-flex{
    align-items: center;
}
#inputSearch{
    margin-right: 10px;
    height: 6vh;
}
#busqueda{
    width: 100%;
    justify-content: space-around;
}
.Logo{
    width: 10vw;
}
.Logo:hover{
    background-color: var(--colorverde);
    border-radius: 20px;
}
#lupabtn{
    background-color: transparent;
    border: none;
    width: auto;
    height: auto;
    transition: 1s;
    border-radius: 36px;
    outline: none;
    border: none;
}
#lupabtn:focus{
    outline: none;
    border: none;
}
#lupabtn:hover{
    background-color: var(--colorverde);
    border-radius: 36px;
}
#lupaimg{
    width: 5vw;
}
#btnsSesionRegistro{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#imgSesion{
   width: 3vw; 
}
#imgSesion:hover{
    width: 4vw;
}
#btnSesion{
    text-decoration: none;
    color: white;
}
#btnSesion span{
    display: none;
}
#btnRegistro{
    text-decoration: none;
    color: white; 
}
#btnRegistro:hover{
    color:var(--hoverColorText) ;
}
#ContCarrito{
    color: rgb(230, 28, 55);
    border-radius: 50px 50px 50px 50px;
    z-index: 1;
}
#iconoCarrito{
    position: absolute;
}


@media only screen and (max-width: 700px) {
    .Logo{
        width: 20vw;
    }
    #lupaimg{
        width: 10vw;
    }
    #btnSesion span{
        display:initial;
    }
    #imgSesion{
        display: none; 
    }
    #Links{
        flex-direction: row;
    }
  }
/* Movil */
.navbar-nav{
    align-items: center;
}
