:root{
    --colorCafe: #99642C;
    --hoverColorText:rgb(175, 172, 172);
    --colorverde:#849836
}
.navbar{
    background-color: var(--colorCafe);
    padding: 10px;
}
.content{
    width: 100vw;
    top: 0;
    z-index: 3;
    position: sticky;
}
.navlink1{
    color:white;
    text-decoration: none;
    width: 33px;
    height: 32px;
    display: flex;
    justify-content: center;
}
.navlink1:hover{
    color: var(--hoverColorText)
}
#Links{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#navbarScrollingDropdown {
    text-decoration: none;  
    color: white;
}
#navbarScrollingDropdown:hover {  
    color: var(--hoverColorText)
}

.logo{
    text-decoration: none;
    font-size: medium;
    color: white;
}
.logo:hover{
    color: var(--hoverColorText);
}
#navbarScroll{
    justify-content: center;
}
#inputSearch{
    background-color: transparent;
    border-color: white;
}
#inputSearch::placeholder{
    color: white;
    outline: none;
    border-color: white;
}
#inputSearch:hover{
    border: none;
    color: white;
    border-color: white;
}
#navScroll::-webkit-scrollbar {
    -webkit-appearance: none;
}
#d-flex{
    align-items: center;
}
#inputSearch{
    margin-right: 10px;
    height: 6vh;
}
#busqueda{
    width: 100%;
    justify-content: space-around;
}
.Logo{
    width: 10vw;
}
.Logo:hover{
    background-color: var(--colorverde);
    border-radius: 20px;
}
#lupabtn{
    background-color: transparent;
    border: none;
    width: auto;
    height: auto;
    transition: 1s;
    border-radius: 36px;
    outline: none;
    border: none;
}
#lupabtn:focus{
    outline: none;
    border: none;
}
#lupabtn:hover{
    background-color: var(--colorverde);
    border-radius: 36px;
}
#lupaimg{
    width: 5vw;
}
#btnsSesionRegistro{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#imgSesion{
   width: 3vw; 
}
#imgSesion:hover{
    width: 4vw;
}
#btnSesion{
    text-decoration: none;
    color: white;
}
#btnSesion span{
    display: none;
}
#btnRegistro{
    text-decoration: none;
    color: white; 
}
#btnRegistro:hover{
    color:var(--hoverColorText) ;
}
#ContCarrito{
    color: rgb(230, 28, 55);
    border-radius: 50px 50px 50px 50px;
    z-index: 1;
}
#iconoCarrito{
    position: absolute;
}
#sesion {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sesion p{
    font-size: 10px;
    margin: 0;
    color: antiquewhite;
}
#sesion button {
    font-size: 10px !important;
    width: 12vw !important;
    height: 6vh !important;
    background-color: transparent !important;
    color:antiquewhite !important;
    justify-content: center;
}
#sesion button div{
    display: none;
}
.cart{
    position: relative;
    cursor: pointer;
}
.cart box-icon{
    fill: white;
    width: 40px;
    height: 40px;
}
.cart span {
    position: absolute;
    top: -0.5rem;
    right: -1rem;
    width: 1.3rem;
    height: 1.3rem;
    border: 1px solid red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding:0rem;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: crimson;

}
@media only screen and (max-width: 1080px) {
    #Links{
        flex-direction: row;
    }
}

@media only screen and (max-width: 700px) {
    .Logo{
        width: 20vw;
    }
    #lupaimg{
        width: 10vw;
    }
    #btnSesion span{
        display:initial;
    }
    #imgSesion{
        display: none; 
    }
    
    #sesion button{
        width:24vw !important;
    }
    #cerrarSesion{
        display: flex;
        width: 24vw;
        justify-content: center;
        align-items: center;
    }
  }
/* Movil */
.navbar-nav{
    align-items: center;
}
