:root{
    --hoverColorText:rgb(175, 172, 172);
    --hoverVerde:rgba(16, 112, 16, 0.795);
    --colorCafe: #99642C;
}
#a{
    align-items: center;
    padding: 20px;
}
#divImg{
    width: 200px;
    height: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
 
    
    
}
#divImg img{
    width: 200px;
    height: 300px;
    border-radius: 15px;
}
#borrarimg{
    width: 5vw;
}
#borrarimg:hover{
    width: 6vw;
}
#borrarBtn{
    background-color: transparent;
    border: none;
    cursor:no-drop;
}
#carrito{
    background-color: #849836;
    color: rgb(255, 255, 255);
    border: none;
    cursor: cell;
}
#carrito:hover{
    background-color: var(--colorCafe);
}
#carritoimg{
    width: 3vw;
}
#btns{
    display: flex;
    justify-content: center;
}
#detalles{
    text-decoration: none;
    color: var(--colorCafe);
    cursor:no-drop;
}
#detalles:hover{
    color: var(--hoverVerde);
}
#precio{
    position: absolute;
    background-color: rgba(128, 128, 128, 0);
    color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
    border-radius: 15px;

}
#precio:hover{
   background-color: rgba(5, 5, 5, 0.507);
   color: rgb(245, 239, 245);
   border-radius: 15px;
}
