#a{
    align-items: center;
    padding: 20px;
}
#divImg{
    width: 210px;
    height: 320px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
#divImg img{
    width: 200px;
    height: 300px;
    border-radius: 15px;
}