:root{
    --colorCafe: #99642C;
    --hoverColorText:rgb(175, 172, 172);
    --colorverde:#849836;
    --colorverdeoscuro:#606e28;
}
.paperContainer{
    /* background: rgb(3, 3, 3) radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(90, 54, 12) 61%); */
    text-align: center;
    justify-content: center;
    height: 32vh;
  }
.btn {
    outline: none !important;
    border-color: transparent !important;
    background-color: var(--colorCafe) !important;
  }
.btn:hover{
    background-color: var(--colorverde)!important;
}
.img_banner{
    width: 100%;
    position: absolute;
    left: 0;
  }
.bannerTexto{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--colorverdeoscuro);
  }