.ordersContenedor{
    width: 100vw;
    height: 100vh;
}
.container{
    width: 75%;
    margin: 0;
    padding: 0;
}
.ordersTable-Sidebar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}


@media only screen and (max-width: 770px) {
    .table1{
        overflow:scroll; 
        height:calc(95vh - 50px);
        width:calc(110vw - 50px);
    }
    .table1 thead tr{
        display: flex;
    }
}