.ordersContenedor{
    width: 99vw;
    height: 100vh;
    
}
.container{
    width: 75%;
    margin: 0;
    padding: 0;
  
}
.ordersTable-Sidebar{
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow:scroll; 
}
.table1{
    margin-left: 250px;
    overflow:scroll; 
    height: 99%;
/* 
        height:calc(95vh - 50px);
        width:calc(100vw - 50px); */
        /* margin: 5px; */
}
.table{
    overflow:scroll; 
    height:calc(95vh - 50px);
    width:calc(100vw - 50px);
}



@media only screen and (max-width: 770px) {
    
    .table1{
        overflow:scroll; 
        height:calc(95vh - 50px);
        width:100vw;
        font-size: 10px;
        margin: 5px;
    }
    .resumenCompra{
        font-size: 10px;
    }
    .form-select{
        font-size: 10px;
    }
}