.contenedor{
    overflow:scroll; 
    height:calc(95vh - 50px);
    width:calc(81vw - 50px);
    padding: 15px;
}
.tab-sidebar{
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 770px) {
    .contenedor{
        width: 100vw;
    }
}
