.content{
    overflow:scroll;
    height:400px;
    width:700px;
    background: rgba( 142, 138, 138, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.tableproducs{
    width:700px;
    background-color:lightgray;
}