.carritos{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgba(0,0,0,.6);
    z-index: 2;
    padding-bottom: 5rem;
     visibility: hidden; 
}

.carrito{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    scale(1);
    /* width: 100%; */
    width: 60%;
    height: 80%;
    /* height: 100%; */
    border-radius: 8px;
    overflow-x: scroll;
    transition: all 30ms ease-in-out;
    background-color: white;
     opacity: 0; 
     visibility: hidden; 

}

.carrito h2{
    text-align: center;
    font-size: 2rem;
}
.carritos.show{
    visibility: visible;
}

.carrito.show{
    transform: translate(-50%, -50%)
    scale(1.1);
    opacity: 1;
    visibility: visible;
}

.carrito__close box-icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: all 300ms ease-in-out;
    margin: 3rem 0 0 2rem;
}

.carrito__close box-icon:hover{
    fill: crimson;
}

.carrito__center{
    width: 90%;
    margin: 0 auto;
}

.carrito__item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 80%;
    margin: 2rem auto;
    box-shadow: 0 1px 10px #08a05c;
    border-radius: 5px;
    align-items: center;
    padding: 10px;
}

.carrito__item img{
    width: 9rem;
    margin: 5px;
    border-radius: 10px;
}

.carrito__item h3{
    margin-top: 1.5rem;
    font-weight: 600;
    font-size: 0.8rem;
    font-family: Helvetica, sans-serif;
}

.carrito__item .price{
    color: #1a202c;
    font-size: 2rem;
    font-weight: bold;
    text-align: start;
    /* margin-left: -1.3rem; */
    margin-right: -1rem;
}

.carrito__item box-icon{
    fill: #08a05c;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: .3rem;
}

.carrito__item .cantidad{
    font-size: 2rem;
    font-weight: bold;
}

.carrito__item .remove__item box-icon{
    width: 60px;
    height: 80px;
    fill: crimson;
    margin-top: 2rem;
}

.carrito__footer{
    text-align: center;
    margin-bottom: 3rem;
}

.carrito__footer h3{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.carrito__footer .btn{
    display: inline-block;
    padding: .3rem 1rem;
    font-size: 1.2rem;
    background-color: #08a05c;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.carrito__footer .btn:hover{
    background-color: #0f5c39;
    color: white;
}
#trash{
    margin-top: 0;
}

@media only screen and (max-width: 1000px){
    .carrito__item {
        width: 92%;
    }
}

@media only screen and (max-width: 700px){
    .carrito{
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
    .carrito__item h3{
        font-size: 1.2rem;
    }
    .carrito__item .remove__item box-icon{
        width: 30px;
        height: 70px;
    }
}

@media only screen and (max-width: 600px){
    header ul{
        display: none;
    }
}

@media only screen and (max-width: 450px){
    .carrito__item h3{
        display: .5rem;
    }
}