:root{
  --colorCafe: #99642C;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(241, 232, 229) !important;
  padding: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar{
  background-color: rgba(18, 121, 18, 0.795);
  border-radius: 4px;
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(90, 65, 11);
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--colorCafe);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

